:root {
    --primario: #24252A;
    --secundario: #474E68;
    --sombras: #474E68;
    --elementosPequenos: #50577A;
    --claros: #6B728E;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--primario);
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size:  16px;
    color: #ffffff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li, a {
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: var(--elementosPequenos);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: var(--claros);
}